.navBar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #1f2937;
    
}

.containerDark {
    display: flex;
    align-items: baseline;
    background-color: #1f2937;
    color: white;
    text-decoration: none;
}

ul {
    padding: 0px 16px;
}

li {
    list-style: none;
    padding: 0px 8px;
    padding-right: 140px;
}

ul li a {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: none;
}

header {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    padding-left: 120px;
    text-decoration: none;
}

h1 {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 120px;
    padding-top: 70px;
    color: white;
    margin: 0%;
}

.subtext a {
    display: flex;
    background-color: #1f2937;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    padding-left: 120px;
    margin: 0%;
}

.button a {
    display: flexbox;
    background-color: #3882f6;
    color: white;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    max-width: 100px;
    max-height: 50px;
    padding: 10px 32px;
    border-radius: 8px;
    margin: 0%;
}

h2 {
    display: flex;
    padding-left: 120px;
}

.containerGrey a {
    display: flexbox;
    background-color: grey;
    color: white;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    border-radius: 4px;
    margin-left: 310px;
    padding: 100px 130px;
}

.containerWhite a {
    display: flexbox;
    background-color: white;
    width: 100%;   
    text-align: center;
}

.subHeader {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    margin-top: 50px;
}


.smallBox {
    display: flex;
    height: 4cm;
    width: 1mm;
    border-style: solid;
    margin-top: 20px;
    border-color: #3882f6;
    border-radius: 6px;
}

.flexboxList a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flexboxList .smallBox {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 100px;
}

.smallBoxText li {
    display: inline-flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.containerLightGrey {
    background-color: gainsboro;
    width: 100%;
    height: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.containerLightGrey a {
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    margin-top: 50px;
    padding: 50px 50px;
}

.containerLightGrey span {
    display: flex;
    padding: 0;
    line-height: 0px;
    margin-top: -50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    float: right; 
    padding-right: 20%;
}

.banner {
    background-color: #3882f6;
    padding-left: 5.5cm;
    padding-top: 50px;
    padding-bottom: 80px;
    margin-top: 3cm;
    margin-left: 3cm;
    margin-right: 3cm;
    margin-bottom: 3cm;
    border-radius: 10px;
}

.banner a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    color: white;
}

.banner p a {
    font-size: 18px;
    color: white;
    padding-top: 0;
}

.banner .bannerButton {
    display: flex;
    width: 4cm;
    margin-top: -2cm;
    margin-left: 18cm;
}

.banner .bannerButton a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    width: 4cm;
    text-decoration: none;
    border-style: solid;
    border-radius: 8px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    background-color: #1f2937;
    padding-top: 30px;
    padding-bottom: 30px;
}

.aboutCopyright {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
}